[Desktop Entry]
Name=Llx-Disable-Discover
Name[ar]=المستكشف
Name[ast]=Llx-Disable-Discover
Name[az]=Llx-Disable-Discover
Name[bg]=Llx-Disable-Discover
Name[ca]=Llx-Disable-Discover
Name[ca@valencia]=Llx-Disable-Discover
Name[cs]=Llx-Disable-Discover
Name[da]=Llx-Disable-Discover
Name[de]=Llx-Disable-Discover
Name[el]=Llx-Disable-Discover
Name[en_GB]=Llx-Disable-Discover
Name[es]=Llx-Disable-Discover
Name[et]=Llx-Disable-Discover
Name[eu]=Llx-Disable-Discover
Name[fi]=Llx-Disable-Discover
Name[fr]=Llx-Disable-Discover
Name[gl]=Descubrir
Name[he]=Llx-Disable-Discover
Name[hi]=डिस्कवर
Name[hu]=Llx-Disable-Discover
Name[ia]=Llx-Disable-Discover (Discoperi)
Name[id]=Llx-Disable-Discover
Name[it]=Llx-Disable-Discover
Name[ja]=Llx-Disable-Discover
Name[ka]=Llx-Disable-Discover
Name[ko]=Llx-Disable-Discover
Name[lt]=Llx-Disable-Discover
Name[ml]=കണ്ടെത്തുക
Name[my]=ဒစ်(စ)ကာဗာ
Name[nl]=Ontdekken
Name[nn]=Llx-Disable-Discover
Name[pa]=ਡਿਸਕਵਰ
Name[pl]=Odkrywca
Name[pt]=Llx-Disable-Discover
Name[pt_BR]=Llx-Disable-Discover
Name[ro]=Llx-Disable-Discover
Name[ru]=Llx-Disable-Discover
Name[sk]=Llx-Disable-Discover
Name[sl]=Llx-Disable-Discover
Name[sr]=Oткривач
Name[sr@ijekavian]=Oткривач
Name[sr@ijekavianlatin]=Otkrivač
Name[sr@latin]=Otkrivač
Name[sv]=Upptäck
Name[tg]=Кашфиёт
Name[tr]=Keşfet
Name[uk]=Llx-Disable-Discover
Name[x-test]=xxLlx-Disable-Discoverxx
Name[zh_CN]=Llx-Disable-Discover 软件管理中心
Name[zh_TW]=Llx-Disable-Discover
Exec=/usr/bin/llx-disable-discover-notifier
Icon=system-software-update
Type=Application
NoDisplay=true
X-KDE-autostart-phase=1
OnlyShowIn=KDE
